/* Общие стили для страницы */
body, html {
  margin: 0;
  padding: 0;
  background: white;
  font-family: Arial, sans-serif;
  justify-content: center;
  box-sizing: border-box;
}

/* Контейнер для содержимого */
.container {
  width: 100%; /* Ограничиваем ширину контейнера */
  margin: 0 auto; /* Центрируем контейнер */
  padding: 20px; /* Добавляем отступы */
}
#info {
  width: 100%;
  color: black;
}
/* Стили для таблицы */
#tablePlace {
  width: 100%; /* Таблица занимает всю ширину контейнера */
  overflow-x: auto; /* Добавляем горизонтальную прокрутку, если таблица слишком широкая */
  margin-top: 20px; /* Отступ сверху */
}

/* Стили для самой таблицы */
#tablePlace table {
  width: 100%; /* Таблица занимает всю ширину родительского элемента */
  border-collapse: collapse; /* Убираем двойные границы */
  background: lightskyblue;
  color: black;
}

/* Стили для ячеек таблицы */
#tablePlace th, #tablePlace td {
  padding: 12px; /* Отступы внутри ячеек */
  text-align: center; /* Выравнивание текста по левому краю */
  border: 1px solid #ddd; /* Границы ячеек */
}

/* Стили при наведении на строку */
#tablePlace tr:hover {
  background-color: lightcoral; /* Изменение фона при наведении */
}

/* Стили для модального окна */
.modal {
  /* Скрываем окна  */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Стили для контента модального окна */
#modalContext {
  background-color: lightskyblue;
  color: black;
  margin: auto; /* Центрируем окно */
  padding: 20px;
  border: 1px solid #888;
  /*width: 300px; !* Ширина окна *!*/
  /*height: 200px;*/
  border-radius: 10px; /* Закруглённые углы */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Тень */
  box-sizing: border-box;
  position: absolute; /* Абсолютное позиционирование */
  top: 50%; /* Сдвигаем на 50% сверху */
  left: 50%; /* Сдвигаем на 50% слева */
  transform: translate(-50%, -50%); /* Центрируем */
}

#modalTitle{
  text-align: center;
  color: black;
}

#modalBody{
  text-align: center;
  color: black;
}

/* Стили для всех input элементов */
#modalBody input {
  color: black;
  background: white;
  width: 100%; /* Занимают всю ширину контейнера */
  padding: 10px; /* Внутренние отступы */
  margin-bottom: 15px; /* Отступ между элементами */
  border: 1px solid #ccc; /* Граница */
  border-radius: 4px; /* Закруглённые углы */
  font-size: 16px; /* Размер шрифта */
  box-sizing: border-box; /* Учитываем padding и border в ширине */
}

button {
  background: white;
  color: black;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#closeModalBtn {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#closeModalBtn:hover {
  color: #000;
}